@use "../../presets" as *;
header {
  display: grid;
  align-items: center;

  height: 100vh;
  padding: 150px 0;

  background: $color-primary;
  background: url(../img/img-header.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
