@use "../presets" as *;
@use "../mixins" as *;
.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 1em;
  padding-left: 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.11em;

  border: 2px solid $color-light;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn:hover {
  transition: background-color 0.5s;

  background-color: $color-accent;
}


.btn--light {
  width: 250px;
  height: 60px;

  letter-spacing: 0.1em;

  font-size: 1.125rem;
  @include lg-md {
    width: 200px;
    height: 50px;
  }
  @include md-sm {
    width: 170px;
    height: 40px;
  }
  @include sm {
    width: 170px;
    height: 40px;
  }
}


.btn--darkness {
  width: 350px;
  height: 60px;

  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);

  font-size: 1.125rem;
  @include sm {
    width: 100%;
  }
}
